:root {
  --blue: hsl(220, 98%, 61%);
  --gradient: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  --background: hsl(0, 0%, 98%);
  --light-background: hsl(0, 0%, 98%);
  --light-border: hsl(236, 33%, 92%);
  --border: hsl(233, 11%, 84%);
  --very-light-text: hsl(236, 9%, 61%);
  --light-text: hsl(235, 19%, 35%);
  --text: hsl(235, 21%, 11%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
body * {
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  min-height: 100vh;
  background-image: url('/public/images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.App.dark {
  background-image: url('/public/images/bg-mobile-dark.jpg');
  background-color: var(--background);
  /*  */
  --background: hsl(235, 21%, 11%);
  --light-background: hsl(235, 24%, 19%);
  --text: hsl(234, 39%, 85%);
  --light-text: hsl(234, 39%, 85%);
  --very-light-text: hsl(236, 9%, 61%);
  --light-border: hsl(237, 14%, 26%);
  --border: hsl(233, 14%, 35%);
}

@media screen and (min-width: 768px) {
  .App {
    background-image: url('/public/images/bg-desktop-light.jpg');
  }
  .App.dark {
    background-image: url('/public/images/bg-desktop-dark.jpg');
  }
}

.container {
  padding: 50px 25px;
  max-width: 580px;
  margin: auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
